.logo {
    text-align: center;
    margin: -11px;
    background: #f7f4f4d1;
}
.logo img {
    height: 90px;
    width: 450px;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    border-radius: 15%;
    padding: 6px;
}
nav ul li a {
    margin: auto;
    text-decoration: none;
    font-family: roboto !important;
    font-size: 20px;
    color: blue;
}
nav ul li a:hover{
    text-decoration: underline;
    background: rgb(215, 215, 252);
}