body{
	background-image: url(../img/p);
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

div{
    margin-left: 100px;
    margin-right: 100px;
}
body{
            background-image: url(../img/texture.jpg);
            }